<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

<body>
    <div class="container">
        <!-- <form id="myForm" action="/login" method="post"> -->

            <div class="class_track_text">
                CLASS TRACK
                <img class="size"
                    src="https://i.ibb.co/JqzMD27/pngtree-teacher-man-in-cartoon-vector-illustration-png-image-4516816-removebg-preview.png"
                    alt="pngtree-teacher-man-in-cartoon-vector-illustration-png-image-4516816-removebg-preview">
            </div>


            <img class="myImage" src="https://i.ibb.co/GJdnwz5/loginnew1.png">
            <div class="let_start_text">
                Lets Start
            </div>

            <div>
                <a href="/login_pg"><button class="loginbtn">Login</button></a>


            </div>

            <div>

                <div>
                    <img class="welcome_img" src="https://i.ibb.co/dmwNnJZ/Untitled.png">
                </div>
        <!-- </form> -->
    </div>
    <style>
        /* .container{
    width:100vh;
    height:100vw;
} */
        body {
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
            height: 98vh;

        }

        /* .img{
    max-width: 100%;
    max-height: 100%;
} */

        .size {
            display: none;
        }


        .myImage {
            width: 20vw;
            height: 30vh;
            padding-left: 70vw;

            position: relative;
            margin-top: 10vh;
        }

        .container {
            width: 100%;
            height: 100%;
            position: relative;
            align-items: center;
            align-content: center;
        }

        .welcome {
            font-size: 6vh;
            font-style: bold;
            display: inline-block;
        }


        .class_track_text {
            width: fit-content;
            height: fit-content;
            font-family: "Arial Black";
            font-size: 8vh;
            color: whitesmoke;
            /* letter-spacing: 10px; */
            /* background-image: url(pattern1.jpg); */
            background-clip: text;
            /* -webkit-text-fill-color: transparent; */
            -webkit-background-clip: text;
            padding-left: 30px;
            /* color: chartreuse; */
            /* padding-bottom: 300px; */

        }


        .let_start_text {
            font-family: "Arial Black";
            color: white;
            font-size: 100px;
            letter-spacing: 9px;
            /* margin-top: 30vh; */
            padding-left: 75vw;
            /* top: -73px; */
            position: relative;
            width: fit-content;
            height: fit-content;
        }

        .loginbtn {
            width: 12vw;
            height: 7vh;
            border-radius: 193px;
            border: none;
            outline: none;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            cursor: pointer;
            font-size: 1.5vw;
            font-family: "Arial";
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            justify-content: center;
            margin-left: 74vw;
            position: relative;
            margin-top: 4vh;
            bottom: 50px;
        }

        .loginbtn:hover {
            background-color: royalblue;
            color: white;
            transition: all 0.3sease-in-out;
        }

        .welcome_img {
            position: fixed;
            top: 243px;
            width: 40vw;
            margin-top: 10vh;
            padding-left: 5vw;
        }

        .welcome_to_classtrack {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 45px;
            position: relative;
            top: -690px;
            margin-left: 630px;
            letter-spacing: 3.5px;
        }

        .list_items {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 28px;
            position: relative;
            top: -693px;
            margin-left: 600px;
            letter-spacing: 2.5px;
            line-height: 50.1px;
        }

        .par {
            position: fixed;
            top: 520px;
        }

        .par2 {
            position: fixed;
            top: 570px;
        }

        .par3 {
            position: fixed;
            top: 599px;
        }

        @media screen and (max-width: 700px) {


            .welcome_img {
                width: 82vw !important;
                height: 28vh !important;
                margin-top: 35vh !important;
                padding-left: 5vw !important;
                /* position: fixed !important; */
                top: 243px !important;
                /* margin-top: 80vh !important; */
                padding-left: 5vw !important;
            }


        

        .size {
            display: flex;
            width: 60vw;
            height: 23vh;
            display: none;
        }

        .myImage {
            width: 41vw !important;
            height: 21vh !important;
            margin-left: -39vw;
            margin-top: -1vh !important;
        }

        .let_start_text {
            font-family: "Arial Black";
            color: white;
            font-size: 35px !important;
            letter-spacing: 2px;
            /* margin-top: 30vh; */
            padding-left: 25vw !important;
            /* top: -73px; */
            display: flex !important;
            position: relative;
            width: fit-content;
            height: fit-content;
        }

        .class_track_text {
            width: 0px;
            height: fit-content;
            font-family: "Arial Black";
            font-size: 6vh;
            color: whitesmoke;
            display: flex;
            margin-bottom: 3vh;
            /* letter-spacing: 10px; */
            /* background-image: url(pattern1.jpg); */
            background-clip: text;
            /* -webkit-text-fill-color: transparent; */
            -webkit-background-clip: text;
            padding-left: 30px;
            /* color: chartreuse; */
            /* padding-bottom: 300px; */
        }

        .loginbtn {
            width: 58vw !important;
            height: 8vh !important;
            border-radius: 193px;
            border: none;
            outline: none;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            cursor: pointer;
            font-size: 9.5vw !important;
            font-family: "Arial";
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            justify-content: center;
            margin-left: 24vw !important;
            position: relative;
            margin-top: 8vh !important;
            bottom: 50px;
        }
    }
    </style>
</body>
</head>

</html>